<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "index.html"%}
    {% if errmsg == 1 %}
        <div><h1>No data Available!</h1></div>
    {% else %}
        <table border = 1 width = 50% cellpadding = 10 cellspacing = 5>
            <tr>
                <th>Sl. No.</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Place</th>
                <th>Timestamp</th>
                <th>Update Data</th>
                <th>Delete Data</th>
            </tr>
            {% for field in data %}
                <tr>
                <td>{{field["id"]}}</td>
                <td>{{field["first_name"]}}</td>
                <td>{{field["last_name"]}}</td> 
                <td>{{field["place"]}}</td>
                <td>{{field["timestamp"]}}</td>
                <td><a href = "{{url_for('updateByScore', score = field['id'])}}">Update</a></td>
                <td><a href = "{{url_for('deleteByScore', score = field['id'])}}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>    
    {% endif %}
</body>
</html>